<!DOCTYPE html>
<html>
<head lang="en">
    <title>MainView</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <link href="../../../../../../../../../webapp/normalize.css" rel="stylesheet" type="text/css">
    <link href="../../../../../../../../../resources/org/jboss/gwt/flux/sample/todo/resources/todo.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,300,700" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Flux Todo Manager</h1>
    <div data-field="todoContainer" class="todos">
        <!-- Sample Todos -->
        <div class="todo">lorem ipsum</div>
        <div class="todo">dolor sit amet</div>
        <div class="todo">consetetur sadipscing elitr</div>
    </div>
</body>
</html>