html {
    font: 120%/1.66 "Open Sans", sans-serif;
    color: #333;
}

h1 {
    font-size: 120%;
    font-weight: 500;
    margin: 1rem;
}

.todos {
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    padding: .75rem 1rem;
    border-bottom: 1px solid #eee;
}

.todo:hover {
    background-color: #eee;
}

.todo-check, .todo-uncheck {
    align-self: flex-start;
    width: 20px;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-check .fa-check-square-o {
    display: none;
}

.todo-uncheck .fa-square-o {
    display: none;
}

.todo-name {
    flex-grow: 1;
}

.todo-done {
    text-decoration: line-through;
}

.todo-control {
    align-self: flex-end;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-control .fa-trash-o {
    display: none;
}

.todo:hover .fa-trash-o {
    display: inline;
}

.todo-add {
    margin: .75rem 1rem;
}

.todo-add a, .todo-add a:visited {
    color: #933;
    text-decoration: none;
}

.todo-add a:hover {
    text-decoration: underline;
}

.todo-add .fa-plus {
    width: 20px;
    margin-right: 1rem;
}

.diagnostics-locked, .diagnostics {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 66%;
    color: #666;
    margin: 1rem 1rem .2rem;
}

.diagnostics-locked .fa-cog {
    display: inline-block;
}

.diagnostics .fa-cog {
    display: none;
}

.diagnostics-info {
    padding-left: .33rem;
}

.gwt-TabBarItem {
    padding:5px;
    font-weight: BOLD;
    color:#cccccc;
    border-top:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
}

.gwt-TabBarItem-selected {
    color:#333333!important;
}

.gwt-TabBarFirst, .gwt-TabBarRest {
    border-bottom:1px solid black;
}

.gwt-TabPanelBottom {
    padding-top:20px;
}

.gwt-DialogBox {
    padding:10px;
    background: #ffffff;
    border:1px solid #cccccc;
}

.dialogTop {
    border-bottom:1px solid #cccccc;
}